<div class="row modal-header">
    <h1>Premium Package Property</h1>
    <a class="btn btn-default" ui-sref="shopPremiumPackageProperties">Back</a>
    <a class="btn btn-success" ui-sref="editShopPremiumPackageProperties({id:premiumPackagePropertiesId})">Edit</a>
</div>
<div class="row modal-body">
    <form class="col-md-offset-2 col-md-8"  name="sppp.form1">
        <formly-form model="sppp.premiumPackageProperties" fields="sppp.premiumPackagePropertiesFields">
        </formly-form>
    </form>
</div>
