<header class="row header">
    <nav class="col-md-9">
        <a class="btn btn-default" ui-sref="home">Home</a>
        <!--<a class="btn btn-primary" ui-sref="news">News</a>-->
        <!--&lt;!&ndash;<a class="btn btn-primary" ui-sref="qod">Q O D</a>&ndash;&gt;-->
        <!--<div class="btn-group" uib-dropdown >-->
            <!--<a id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">-->
                <!--QOD <span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">-->
                <!--<li role="menuitem"><a ui-sref="qod">Question of the day</a></li>-->
                <!--<li role="menuitem"><a ui-sref="qodprize">Question of the day prize</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="btn-group" uib-dropdown is-open="status.isopen">-->
            <!--<a id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">-->
                <!--Shop Premium Item <span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumItem">Shop Premium Item</a></li>-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumItemPackage">Shop Premium Item Package</a></li>-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumAction">Shop Premium Action</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="btn-group" uib-dropdown>-->
            <!--<a id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">-->
                <!--Shop Premium Package <span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumPackage">Shop Premium Package</a></li>-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumPackageContent">Shop Premium Package Content</a></li>-->
                <!--<li role="menuitem"><a ui-sref="shopPremiumPackageProperties">Shop Premium Package Properties</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </nav>
    <div class="col-md-3">
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link" ng-bind="userdata.name">aa</a></p>
        <button type="button" class="btn btn-default  btn-danger" ng-click="logOut()">Log out</button>
    </div>
</header>
