<div class="modal-header">
    <h1>Add QOD</h1>
    <a class="btn btn-default" ui-sref="qod">Back</a>
</div>
<div class="modal-body">
    <form ng-submit="cq.onSubmit()" name="cq.form1"novalidate>
        <formly-form model="cq.question" fields="cq.questionFields" form="cq.form1">
            <button type="button" class="btn btn-primary submit-button" ng-click="add()" ng-disabled="cq.form1.$invalid">SAVE</button>
        </formly-form>
    </form>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">QOD</h3>
        <p ng-bind="data.question"></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close('ok clicked')">{{data.okText}}</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel clicked')">{{data.cancelText}}</button>
    </div>
</script>