<div class="head">
    <div class="row">
        <div class="col-md-1">
            <h2>Bids</h2>
        </div>
    </div>
    <div class="row">
        <a  type="button" class="btn btn-default n_button" ui-sref="gameUsers">Users</a>
    </div>
    <div class="content">
        <table class="table table-hover">
            <tr>
                <th>Bid Manager</th>
                <th>Manager Price</th>
                <th>Bidding Price</th>
                <th>Money Time</th>
                <th>Bidding At</th>
                <th>Create Date</th>
            </tr>
            <h3 ng-bind="message"></h3>
            <tr class="info" ng-repeat="bid in bidsList">
                <td ng-bind="bid.bidManager"></td>
                <td ng-bind="bid.bidManagerPrice"></td>
                <td ng-bind="bid.biddingPrice"></td>
                <td ng-bind="bid.fantasyClubBidderName"></td>
                <td ng-bind="bid.returnMoneyTimestamp"></td>
                <td ng-bind="bid.biddingAtTimestamp"></td>
                <td ng-bind="bid.createDate"></td>
                <td ui-sref-active="is-active">
                    <a class="btn btn-success"  disabled="disabled">Edit</a>
                </td>
            </tr>
        </table>

</div>
<!--da li je ovo ok ovako ili da napravim poseban html ????????????????????-->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete selected piece of news</h3>
    </div>
    <div class="modal-body">
        <p ng-bind="data.question"></p>
        Name:<p ng-bind="data.name"></p>
        Type:<p ng-bind="data.type"></p>
        Date:<p ng-bind="data.date | date: 'dd-MM-yyyy HH:mm:ss'"></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close('ok clicked')">{{data.okText}}</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel clicked')">{{data.cancelText}}</button>
    </div>
</script>
