<div class="head">
    <div class="row">
        <div class="col-md-3">
            <h3>Fantasy Clubs per manager</h3>
            <!--<h3 ng-bind="userEmail"></h3>-->
        </div>
    </div>
    <div class="row">
        <a  type="button" class="btn btn-default n_button" ui-sref="gameUsers">Users</a>
    </div>
    <div class="content">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Auctions</th>
                <th>Bids</th>
                <th>Credit</th>
                <th>Activity</th>
                <th>Create Date</th>
                <th>Edit</th>
            </tr>
            <tr class="info" ng-repeat="club in clubList">
                <td ng-bind="club.name"></td>
                <td><a class="btn btn-success" ui-sref="auctionsPerFantasyClub({id:'{{club.id}}'})">Auctions</a></td>
                <td><a class="btn btn-success" ui-sref="bids({idClub:'{{club.id}}'})">Bids</a></td>
                <td ng-bind="club.credit"></td>
                <td ng-bind="club.activity"></td>
                <td ng-bind="club.createDate  | date: 'dd/MM/yyyy HH:mm:ss'"></td>
                <td ui-sref-active="is-active">
                    <a class="btn btn-success" ui-sref="editFantasyClub({id:'{{club.id}}'})">Edit</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--da li je ovo ok ovako ili da napravim poseban html ????????????????????-->
<!--<script type="text/ng-template" id="myModalContent.html">-->
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Delete selected slider</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<p ng-bind="data.question"></p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="$close('ok clicked')">{{data.okText}}</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="$dismiss('cancel clicked')">{{data.cancelText}}</button>-->
    <!--</div>-->
<!--</script>-->
