<div class="head">
    <div class="row">
        <div class="col-md-3">
            <h1>Shop</h1>
            <h2>Premium Item</h2>
            <h3>Package</h3>
        </div>
        <div class="col-md-7 searchBox">
            <div class="input-group">
                <input type="text" name="search" ng-model="search" ng-click="selectText($event)" class="form-control"
                       placeholder="Search Premium Item Packages">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="searchItemPackages()" ng-disabled="downloading">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" max-date="ctrl.maxStartDate"  datetime-picker="dd/MM/yyyy HH:mm" ng-model="ctrl.dates.startDate" is-open="ctrl.open.startDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" min-date="ctrl.minDate" max-date="ctrl.maxDate" datetime-picker="dd/MM/yyyy HH:mm" ng-model="ctrl.dates.endDate" is-open="ctrl.open.endDate" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success n_button col-md-3" ng-disabled="downloading" ng-click="showFilteredItemPackages()">Show</button>
        <a type="button" class="btn btn-info n_button col-md-3" ng-disabled="downloading" ui-sref="createShopPremiumItemPackage">Add Item</a>
    </div>
    <div class="content">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Premium item</th>
                <th>Premium currency</th>
                <th>Position</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Edit</th>
            </tr>
            <h3 ng-bind="message"></h3>
            <tr class="info" ng-repeat="item in itemsPremiumList">
                <td><a ui-sref="singleShopPremiumItemPackage({id:'{{item.id}}'})" ng-bind="item.name"></a></td>
                <td ng-bind="item.title"></td>
                <td ng-bind="item.namePremiumItem"></td>
                <td ng-bind="item.pricePremiumCurrency"></td>
                <td ng-bind="item.position"></td>
                <td ng-bind="item.createDate  | date: 'dd-MM-yyyy HH:mm:ss'"></td>
                <td ng-bind="item.updateTimestamp  | date: 'dd-MM-yyyy HH:mm:ss'"></td>
                <td ui-sref-active="is-active">
                    <a class="btn btn-success" ui-sref="editShopPremiumItemPackage({id:'{{item.id}}'})">Edit</a>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <uib-pagination total-items="bigTotalItems" items-per-page="limitPage" ng-change="pageChange()"
                                ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true"
                                rotate="false" num-pages="numPages"></uib-pagination>
            </div>
            <pre class="col-md-2 col-md-offset-5">Page: {{bigCurrentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>

<!--da li je ovo ok ovako ili da napravim poseban html ????????????????????-->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete selected piece of news</h3>
    </div>
    <div class="modal-body">
        <p ng-bind="data.question"></p>
        Name:<p ng-bind="data.name"></p>
        Type:<p ng-bind="data.type"></p>
        Date:<p ng-bind="data.date | date: 'dd-MM-yyyy HH:mm:ss'"></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close('ok clicked')">{{data.okText}}</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel clicked')">{{data.cancelText}}</button>
    </div>
</script>
<!--<script type="text/ng-template" id="directive.html">-->
    <!--<pre>{{ datepickerVm | json}} </pre>-->
    <!--<p class="input-group" style="margin-bottom:15px;" ng-click="datepickerVm.togglePopup($event, null)" >-->
        <!--<input type="text" class="form-control"-->
               <!--ng-model="datepickerVm.selectedDate"-->
               <!--is-open="datepickerVm.isDatePickerOpen"-->
               <!--datepicker-popup="{{ 'MMM-dd-yyyy' }}"-->
               <!--datepicker-options="datepickerVm.dateOptions"-->
               <!--ng-change="datepickerVm.onChange()" ng-disabled="true"-->
               <!--style="background-color:#ffffff; cursor: default;" />-->
        <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="datepickerVm.togglePopup($event, null)">-->
                <!--<i class="glyphicon glyphicon-calendar"></i>-->
            <!--</button>-->
        <!--</span>-->
    <!--</p>-->
<!--</script>-->